* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
}

body {
    display: flex;
    flex-direction: column;
    
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 1em;
}

.header-logo {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

a {
    text-decoration: none;
    color:white;
}

.header-right-links {
    display: flex;
    gap: 18px;
}

.second-section {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    gap: 20px;
}

.second-section-left {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 1em;
    
}

.s2lt1 {
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}

.s2lt2 {
    color: white;
}

.s2lb, button {
    display: flex;
    padding: 6px 18px;
    margin-right: auto;
    border-radius: 8px;
    color: white;
    background-color: #3882F6;
    
}

.proof-pic {
    width: 600px;
    height: auto;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s3-top-text {
    
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 14px;
    
}

.s3-bottom {
    display: flex;
    justify-content: center;
    gap: 2em;

}

.s3-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    
}

.bursa-pic {
    border: 4px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 18px;
}

.bursa-text {
    overflow-wrap: break-word;
}

.fourth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 64px 300px;
    margin-top: 32px;
    
}

.s4-top {
    align-items: center;
   
    
    
}

.s4-top-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    
}